name: Mirror to RinnoVision

on:
  push:
    branches: ["**"]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to RinnoVision
        run: |
          git remote add mirror https://x-access-token:${{ secrets.RINNO_MIRROR_TOKEN }}@github.com/RinnoVision/lichens-react-commun.git
          git push --mirror mirror
